.modal-action-button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
  font: inherit;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  color: var(--color-fg);
  cursor: pointer;
  transition: all 250ms ease;
}

.modal-action-button[data-primary=true] {
  background-color: var(--color-accent);
  color: var(--color-on-accent);
  font-weight: bold;
}

.modal-action-button:focus-visible {
  transform: scale(1.05);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
}

.modal-action-button[data-primary=true]:focus-visible {
  box-shadow: 0 0 0 3px rgba(34, 121, 219, 0.3);
}

.modal-action-button:hover {
  opacity: 0.9;
}

.modal-action-button:active {
  opacity: 0.7;
}
