.modal-root {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal-root[data-visible=false] {
  visibility: hidden;
}

.modal-scrim {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: all 250ms ease;
}

.modal-root[data-visible=true] .modal-scrim {
  opacity: 1;
}

.modal-container {
  background-color: var(--color-bg);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.25);
  border-radius: 1em;
  min-width: 500px;
  padding: 2em;
  z-index: 1;
  transition: all 250ms ease;
}

.modal-root[data-visible=false] .modal-container {
  transform: scale(1.1);
  opacity: 0;
}
