.todo-list-item-root {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.6em 0.6em 0.6em 1em;
  margin-top: 0.5em;
  gap: 0.5em;
  border-radius: 0.5em;
}

.todo-list-item-primary-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.todo-list-item-click-target {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* #region checkbox */

input[type=checkbox] {
  --checkbox-size: 1.5em;

  appearance: none;
  background-color: rgba(255, 255, 255, 0.2);
  height: var(--checkbox-size);
  width: var(--checkbox-size);
  border-radius: 0.3em;
  flex-shrink: 0;
  transition: all 250ms ease;
}

input[type=checkbox]:checked {
  background-color: var(--color-accent);
}

input[type=checkbox]:hover {
  transform: scale(1.15);
  opacity: 0.8;
}

input[type=checkbox]:active {
  transform: scale(1.15);
  opacity: 0.5;
}

/* #endregion */

/* #region label */

.todo-list-item-label {
  overflow-x: hidden;
  overflow-wrap: break-word;
  transition: all 250ms ease;
  position: relative;
}

.todo-list-item-label::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  width: 0;
  background-color: rgba(255, 255, 255, 1);
  transition: all 500ms ease;
}

.todo-list-item-root[data-completed=true] .todo-list-item-label {
  color: rgba(255, 255, 255, 0.5);
}

.todo-list-item-root[data-completed=true] .todo-list-item-label::before {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

/* #endregion */

.todo-list-item-actions-group {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  z-index: 1;
}
