/* #region root */

.add-todo-box-root {
  --placeholder-color: rgba(255, 255, 255, 0.3);

  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.025);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.5em;
  transition: all 250ms ease;
  gap: 1em;
  padding: 0.3em;
}

.add-todo-box-root:hover {
  border-color: rgba(255, 255, 255, 0.2);
}

.add-todo-box-root[data-active=true] {
  border-color: var(--color-accent);
  box-shadow: 0 0 1.5em rgba(34, 121, 219, 0.25);
}

.add-todo-box-root[data-error=true] {
  border-color: var(--color-error);
  box-shadow: 0 0 1.5em rgb(239, 83, 80, 0.25);
  animation: shake 300ms forwards;
}

/* @src: https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/blob/master/app/src/style.css#L1032 */
@keyframes shake {
  0% {
    transform: translateX(-5px);
  }

  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-2px);
  }

  75% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0px);
  }
}

/* #endregion */

/* #region leading */

.add-todo-box-leading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1em;
  font-size: 1.2em;
  color: var(--placeholder-color);
}

.add-todo-box-root[data-active=true] > .add-todo-box-leading {
  color: var(--color-accent);
  font-weight: bold;
}

.add-todo-box-root[data-error=true] > .add-todo-box-leading {
  color: var(--color-error);
}

/* #endregion */

/* #region input */

.add-todo-box-input {
  flex-grow: 1;
  height: 2em;
  background-color: transparent;
  color: var(--color-fg);
  outline: none;
  border: none;
  font: inherit;
  caret-color: var(--color-accent);
}

.add-todo-box-input::placeholder {
  color: var(--placeholder-color);
}

.add-todo-box-root[data-error=true] .add-todo-box-input {
  caret-color: var(--color-error);
}

/* #endregion */

/* #region button */

.add-todo-button-root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-todo-button {
  cursor: pointer;
  height: 3.5em;
  width: 3.5em;
  background-color: var(--color-accent);
  font: inherit;
  color: var(--color-fg);
  border: none;
  outline: none;
  border-radius: 0.3rem;
  transition: all 250ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-todo-button:focus-visible {
  transform: scale(1.1);
}

.add-todo-button:hover {
  opacity: 0.9;
}

.add-todo-button:active {
  opacity: 0.7;
}

.add-todo-button:disabled {
  cursor: default;
  background-color: rgba(255, 255, 255, 0.2);
}

/* #endregion */
